---
title: Hallo Wereld
slug: hello-world
image: /images/projects/hello-world.png
description: Een voorbeeldproject om het MDSveX-projectsysteem te demonstreren.
languages:
  - js
  - svelte
highlighted: true
---

# Hallo Wereld

Dit is een voorbeeldproject met mdsvex.
