---
title: StrateGO
slug: stratego
image: /projects/stratego/logo.png
description: Een stratego spel dat je laat spelen tegen verschillende AI's of zelfs je eigen AI traint.
languages:
  - svelte
  - go
  - ts
  - postgresql
highlighted: true
status: In Progress
---