---
title: Weighted Decision Matrix
slug: weighted-decision-matrix
image: /projects/Weighted-decision-matrix/logo.webp
description: Een handige website om makkelijk weighted decision matrices te maken en te exporteren naar markdown.
languages:
  - svelte
  - ts
highlighted: false
status: V1
---