---
title: Carpe Diem
slug: carpe-diem
image: /projects/Carpe-diem/logo.webp
description: A handy planning app to plan day by day and track your projects.
languages:
  - dart
  - flutter
highlighted: true
status: v0.1.0
---