---
title: Hello World
slug: hello-world
image: /images/projects/hello-world.png
description: A sample project to demonstrate the MDSveX project system.
languages:
  - js
  - svelte
highlighted: true
---

# Hello hello World

This is a sample project using mdsvex.
