---
title: StrateGO
slug: stratego
image: /projects/stratego/logo.png
description: A stratego game that lets you play against different AIs or even train your own AI.
languages:
  - svelte
  - go
  - ts
  - postgresql
  - docker
highlighted: true
status: In Progress
---